monitoring_servers:
  - ip: "***.***.***.***"
    name: "monitoring-server"

targets:
  - ip: "***.***.***.***"
    instance: "Target-Server1"
  - ip: "***.***.***.***"
    instance: "Target-Server2"
  - ip: "***.***.***.***"
    instance: "Target-Server3"